@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.week-detail-container {
    padding: 20px;
    font-family: 'DM Sans', serif;
    background: linear-gradient(135deg, #ffde59, #ff914d);
    min-height: 100vh;
    color: #000000;
    box-sizing: border-box;
  }
  
  .back-button {
    background: transparent;
    border: none;
    font-family: "DM Sans", serif;
    color: #000000;
    font-size: 1.3rem;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .week-detail-container h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  .week-detail-container p {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  
  .days-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .day-item {
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .day-header {
    display: flex;
    justify-content: space-between; /* Répartit l'espace entre les deux h2 */
    align-items: center; /* Optionnel : aligne verticalement si besoin */
  }
  .day-item h2 {
    margin: 10px ;
    font-size: 1.2rem;
    font-family: "DM Sans", serif;
  }
  

  
  .schedule-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .schedule-list li {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 5px;
    font-family: "DM Sans", serif;
  }
  